@page
@model FoodApplication.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>Restaurants</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search"class="form-control" value="" />
            <span class="input-group-btn">
                <button class="input-group-btn btn-default">
                    <i class="glyphicon glyphicon-search"> Search </i>
                </button>
            </span>
        </div>

    </div>

</form>

<table class="table">
    @foreach(var restaurant in Model.Restaurants)
    {
    <tr>
        <td> @restaurant.Name </td>
        <td> @restaurant.Location </td>
        <td> @restaurant.CuisineType </td>
    </tr>
    }
</table>

<h3>@Model.Message</h3>



